<%- content_for :pre_content do -%>
<header>
  <h1><%= link_to 'I\'m Scott', root_url %></h1>
  <p><span class="crowdendowed">I work for a company called <a href="http://crowdendowed.com/" rel="external">CrowdEndowed</a>.</span> Find out <%= link_to 'more about me', about_url %>.</p>
</header>
<section>
<%- end -%>
<%- content_for :post_content do -%>
</section>
<footer>
  <p>Copyright &copy; <%= Time.now.year %> <%= link_to 'Scott Bartell', root_url, rel: 'home' %> &mdash; <%= link_to 'Feed', posts_url(format: 'atom') %></p>
</footer>
<%- end -%>
<%= render file: 'layouts/abstract' %>
